.container{
    overflow: hidden;
    .body{
        section.section#contactos{
            article.section-article{
                display: flex;
                flex-wrap: wrap;
                article{
                    width: 50%;
                }
                article.form-contact{
                    padding: $padding;
                    font-size: 11pt;
                    h3{
                        font-size: 2em;
                        font-weight: 500;
                        color:$color-2;
                    }
                    form{
                        @mixin placeholder {
                            &::placeholder{
                                color:rgba($color-1, .7);
                                font-weight: normal !important;
                            }
                        }
                        @mixin input {
                            border-radius: $radius-1;
                            box-shadow: none;
                            border:1px solid transparent;
                            padding: 2%;
                            background-color: rgba($color-1, .1);
                            color:$color-2;
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                        input{
                            width: 100%;
                            height: 40px;
                            @include input;
                            @include placeholder;
                            &:focus{
                                border:1px solid $color-1;
                                outline: none;
                                box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
                            }
                            font-size: 1.1em;
                        }
                        textarea{
                            width: 100%;
                            height: 200px;
                            @include input;
                            @include placeholder;
                            font-size: 1.1em;
                            &:focus{
                                border:1px solid $color-1;
                                outline: none;
                                box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
                            }
                        }
                        button{
                            width: 80%;
                            height: 40px;
                            border-radius: $radius-1;
                            box-shadow: none;
                            border-style: solid;
                            background-color: $color-1;
                            border: none;
                            color:$color-4;
                            text-transform: uppercase;
                            margin:0 auto;
                            display: block;
                            transition: $transition;
                            margin-top: 10px;
                            &:hover{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}