
.container{
    .body{
        section.section{
            article.section-article{
                .contenedor-menu{
                    width: 90%;
                    display: flex;
                    flex-wrap: wrap;
                    margin:auto;
                    justify-content: space-between;
                    .contenedor-lista{
                        font-size: 11pt;
                        height: auto;
                        color:$color-2;
                        width: 300px;

                        // margin-left: 20px;
                        // margin-right: 20px;
                        .lista{
                            h2{
                                text-align: left;
                                font-family: $font-2;
                                font-size: 40pt;
                                color:$color-1;
                            }
                            h4{
                                color:$color-1;
                                font-size: 1.3em;
                            }
                            ol{
                                margin-left: $margin*3;
                                margin-top: $margin;
                                font-size: 1.1em;
                                li{

                                }
                            }
                        }
                    }
                    
                    
                }
            }
        }
    }
}