    article.section-article{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .servicio-item{
            margin-top: $margin;
            margin-bottom: $margin;
            padding-bottom: $padding;
            background-color: $color-4;
            width: 30%;
            border-radius: $radius-1;
            border:1px solid $color-1;
            @include shadow;
            .img-servicio-item{
                overflow: hidden;
                position: relative;
                padding-bottom: 20px;
                img{
                    max-width: 100%;
                }
                img.isotipo{
                    width: 70px;
                    height: 60px;
                    padding: 3px;
                    position: absolute;
                    bottom: -5px;
                    left: 40%;
                    display: block;
                    background-color: $color-4;
                    border-radius: 50%;
                }
            }
            h3.title-item{
                font-weight: normal;
                padding-bottom: $padding;
                padding-top: $padding;
                color:$color-2;
                text-align: center;
                text-transform: uppercase;
            }
            p.parrafo-servicio-item{
                text-align: justify;
                color:$color-3;
            }
            .btn-servicio-item{
                text-align: center;
                a{
                }
            }
        }
    }
