@import url(https://fonts.googleapis.com/css?family=Montez|Roboto&display=swap);
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "nav nav nav" "header header header" "body body body" "footer footer footer"; }
  .container .nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: nav; }
  .container .header {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header; }
  .container .body {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: body; }
  .container .footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer; }

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p {
  margin: 10px; }

h2 {
  text-align: center; }

.title-2 {
  font-family: "Montez", cursive; }

h3 {
  text-align: center; }

.hr {
  width: 60%;
  margin: 20px auto;
  height: 1px;
  background-color: #633B00;
  position: relative;
  display: block; }
  .hr .icon {
    position: absolute;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #ff6300;
    background-color: white;
    font-size: 1.2em;
    margin-left: 50%;
    top: -10px; }

.title-3 {
  font-family: "Roboto", sans-serif;
  padding: 10px; }

.section {
  padding-left: 100px;
  padding-right: 100px; }
  .section .title-general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .section .title-general i {
      color: #ff6300;
      display: block;
      text-align: center; }
    .section .title-general .section-title {
      padding: 10px;
      color: #633B00;
      font-size: 3em; }
  .section .section-article {
    padding: 0 10px 10px 10px; }
  .section a.link {
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #3498db;
    color: white;
    text-align: center;
    border-radius: 5px; }
    .section a.link:hover {
      background-color: #2980b9; }

.link-g {
  width: 100%;
  z-index: 5; }
  .link-g a {
    text-decoration: none;
    color: #ff6300;
    border: solid 1px #ff6300;
    display: block;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .link-g a:hover {
      background-color: #ff6300;
      width: 250px; }

.container .nav {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #633B00;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #ff6300;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .container .nav .nav-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .container .nav .nav-brand .nav-logo {
      width: 100px;
      height: 100px;
      background-color: #633B00;
      border-bottom: 3px solid #ff6300;
      z-index: 4;
      border-radius: 200px;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .container .nav .nav-brand .nav-logo img {
        max-width: 100%;
        padding: 10px;
        margin: 0 auto; }
    .container .nav .nav-brand .name-brand {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
      .container .nav .nav-brand .name-brand h1 {
        color: #ff6300;
        text-transform: uppercase; }
  .container .nav .nav-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .container .nav .nav-social ul li {
      list-style: none;
      margin-left: 10px;
      margin-top: 10px; }
      .container .nav .nav-social ul li a {
        text-decoration: none;
        color: white;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .container .nav .nav-social ul li a:hover {
          color: #ff6300; }

.header {
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .header .link-g {
    bottom: 100px;
    position: absolute; }
    .header .link-g a {
      text-transform: uppercase; }
      .header .link-g a:hover {
        color: black; }
  .header .slider {
    position: relative; }
    .header .slider img {
      width: 100%;
      position: absolute;
      top: -180px;
      z-index: -1; }
    .header .slider .capa {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3; }
  .header .logo {
    position: absolute;
    z-index: 5;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px; }
    .header .logo img {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }

.container .body .video {
  margin-top: 10px; }
  .container .body .video .video-title {
    background-color: #633B00;
    border-radius: 5px 5px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .container .body .video .video-title h2 {
      padding: 10px;
      color: #ff6300;
      font-family: "Montez", cursive;
      font-size: 2em; }
    .container .body .video .video-title .icon-ichuri {
      width: 70px;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
      .container .body .video .video-title .icon-ichuri img {
        max-width: 100%; }
  .container .body .video .video-youtube {
    width: 100%; }
    .container .body .video .video-youtube iframe {
      width: 100%;
      height: 600px; }

.container .body #sucursales .sucursal .sucursal-link {
  margin-top: 10px; }

.container .body #sucursales .sucursal .sucursal-img img {
  width: 100%;
  position: absolute; }

.container .body #sucursales .sucursal .sucursal-img .capa {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; }

.container .body #sucursales .sucursal .sucursal-img .sucursal-content {
  padding: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container .body #sucursales .sucursal .sucursal-img .sucursal-content .sucursal-description {
    width: 50%;
    margin: auto 0;
    text-align: center; }
    .container .body #sucursales .sucursal .sucursal-img .sucursal-content .sucursal-description .sucursal-title {
      color: #ff6300;
      font-size: 2em; }
      .container .body #sucursales .sucursal .sucursal-img .sucursal-content .sucursal-description .sucursal-title h3 {
        font-family: "Montez", cursive; }
    .container .body #sucursales .sucursal .sucursal-img .sucursal-content .sucursal-description p {
      color: #7f8c8d; }
      .container .body #sucursales .sucursal .sucursal-img .sucursal-content .sucursal-description p:last-child {
        color: #ff6300; }
  .container .body #sucursales .sucursal .sucursal-img .sucursal-content .sucursal-action {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: 0 auto; }
    .container .body #sucursales .sucursal .sucursal-img .sucursal-content .sucursal-action .sucursal-icon {
      color: #ff6300;
      text-align: center; }
    .container .body #sucursales .sucursal .sucursal-img .sucursal-content .sucursal-action .sucursal-link .a {
      text-decoration: none;
      display: block;
      color: #ff6300;
      border: 2px solid #ff6300;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      font-size: 0.7em; }
      .container .body #sucursales .sucursal .sucursal-img .sucursal-content .sucursal-action .sucursal-link .a:hover {
        background-color: #ff6300;
        color: white;
        cursor: pointer;
        padding-left: 20px;
        padding-right: 20px; }
  .container .body #sucursales .sucursal .sucursal-img .sucursal-content #sanfrancisco-icon, .container .body #sucursales .sucursal .sucursal-img .sucursal-content #sopocachi-icon, .container .body #sucursales .sucursal .sucursal-img .sucursal-content #santacruz-icon {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .container .body #sucursales .sucursal .sucursal-img .sucursal-content .sucursal-map {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 30; }
    .container .body #sucursales .sucursal .sucursal-img .sucursal-content .sucursal-map .btn-close .icon-cancel-circle {
      color: white;
      right: 20px;
      position: absolute;
      top: 20px;
      font-size: 30px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .container .body #sucursales .sucursal .sucursal-img .sucursal-content .sucursal-map .btn-close .icon-cancel-circle:hover {
        cursor: pointer;
        color: #ff6300;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
    .container .body #sucursales .sucursal .sucursal-img .sucursal-content .sucursal-map iframe {
      width: 80%;
      height: 80%;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }

.container .body section.section article.section-article .contenedor-menu {
  width: 1000px;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-perspective: 1500px;
  perspective: 1500px; }
  .container .body section.section article.section-article .contenedor-menu .pagina-izquierda, .container .body section.section article.section-article .contenedor-menu .pagina-central, .container .body section.section article.section-article .contenedor-menu .pagina-derecha {
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: white; }
    .container .body section.section article.section-article .contenedor-menu .pagina-izquierda .contenedor-lista, .container .body section.section article.section-article .contenedor-menu .pagina-central .contenedor-lista, .container .body section.section article.section-article .contenedor-menu .pagina-derecha .contenedor-lista {
      font-size: 11pt;
      color: #633B00; }
      .container .body section.section article.section-article .contenedor-menu .pagina-izquierda .contenedor-lista .lista-uno h2, .container .body section.section article.section-article .contenedor-menu .pagina-central .contenedor-lista .lista-uno h2, .container .body section.section article.section-article .contenedor-menu .pagina-derecha .contenedor-lista .lista-uno h2 {
        font-family: "Montez", cursive;
        font-size: 20pt;
        color: #ff6300; }
      .container .body section.section article.section-article .contenedor-menu .pagina-izquierda .contenedor-lista .lista-uno h4, .container .body section.section article.section-article .contenedor-menu .pagina-izquierda .contenedor-lista .lista-dos h4, .container .body section.section article.section-article .contenedor-menu .pagina-izquierda .contenedor-lista .lista-tres h4, .container .body section.section article.section-article .contenedor-menu .pagina-central .contenedor-lista .lista-uno h4, .container .body section.section article.section-article .contenedor-menu .pagina-central .contenedor-lista .lista-dos h4, .container .body section.section article.section-article .contenedor-menu .pagina-central .contenedor-lista .lista-tres h4, .container .body section.section article.section-article .contenedor-menu .pagina-derecha .contenedor-lista .lista-uno h4, .container .body section.section article.section-article .contenedor-menu .pagina-derecha .contenedor-lista .lista-dos h4, .container .body section.section article.section-article .contenedor-menu .pagina-derecha .contenedor-lista .lista-tres h4 {
        color: #ff6300; }
      .container .body section.section article.section-article .contenedor-menu .pagina-izquierda .contenedor-lista .lista-uno ol, .container .body section.section article.section-article .contenedor-menu .pagina-izquierda .contenedor-lista .lista-dos ol, .container .body section.section article.section-article .contenedor-menu .pagina-izquierda .contenedor-lista .lista-tres ol, .container .body section.section article.section-article .contenedor-menu .pagina-central .contenedor-lista .lista-uno ol, .container .body section.section article.section-article .contenedor-menu .pagina-central .contenedor-lista .lista-dos ol, .container .body section.section article.section-article .contenedor-menu .pagina-central .contenedor-lista .lista-tres ol, .container .body section.section article.section-article .contenedor-menu .pagina-derecha .contenedor-lista .lista-uno ol, .container .body section.section article.section-article .contenedor-menu .pagina-derecha .contenedor-lista .lista-dos ol, .container .body section.section article.section-article .contenedor-menu .pagina-derecha .contenedor-lista .lista-tres ol {
        margin-left: 30px;
        margin-top: 10px; }
  .container .body section.section article.section-article .contenedor-menu .pagina-izquierda {
    z-index: 10;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background: white;
    background: -moz-linear-gradient(left, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(left, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -o-linear-gradient(left, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -ms-linear-gradient(left, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, right top, from(white), color-stop(47%, #f6f6f6), to(#ededed));
    background: linear-gradient(to right, white 0%, #f6f6f6 47%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 ); }
    .container .body section.section article.section-article .contenedor-menu .pagina-izquierda .delante {
      text-align: center;
      background-color: #ff6300;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      .container .body section.section article.section-article .contenedor-menu .pagina-izquierda .delante button {
        width: 200px;
        padding: 6px;
        background-color: #ff6300;
        border: solid 1px #633B00;
        color: #633B00;
        border-radius: 5px;
        cursor: pointer;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .container .body section.section article.section-article .contenedor-menu .pagina-izquierda .delante button:hover {
          -webkit-transform: scale(1.02);
          -ms-transform: scale(1.02);
          transform: scale(1.02);
          color: #ff6300;
          background-color: #633B00;
          width: 250px; }
      .container .body section.section article.section-article .contenedor-menu .pagina-izquierda .delante article {
        color: #402700;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 10px; }
        .container .body section.section article.section-article .contenedor-menu .pagina-izquierda .delante article span {
          color: #633B00; }
  .container .body section.section article.section-article .contenedor-menu .pagina-izquierda-2 {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  .container .body section.section article.section-article .contenedor-menu .pagina-derecha {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background: white;
    background: -moz-linear-gradient(left, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(left, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -o-linear-gradient(left, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -ms-linear-gradient(left, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, right top, from(white), color-stop(47%, #f6f6f6), to(#ededed));
    background: linear-gradient(to right, white 0%, #f6f6f6 47%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 ); }
    .container .body section.section article.section-article .contenedor-menu .pagina-derecha .cerrar-menu {
      position: absolute;
      top: -20px;
      right: -20px;
      text-align: center;
      font-size: 2em;
      cursor: pointer;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
  .container .body section.section article.section-article .contenedor-menu .pagina-derecha-2 {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  .container .body section.section article.section-article .contenedor-menu .pagina-derecha-atras {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ff6300;
    border-right: none;
    color: #ff6300; }
    .container .body section.section article.section-article .contenedor-menu .pagina-derecha-atras img {
      width: 90%; }
  .container .body section.section article.section-article .contenedor-menu .lado {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .container .body section.section article.section-article .contenedor-menu .lado-2 {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .container .body section.section article.section-article .contenedor-menu .pagina-central {
    background: white;
    background: -moz-linear-gradient(left, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(left, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -o-linear-gradient(left, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -ms-linear-gradient(left, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, right top, from(white), color-stop(47%, #f6f6f6), to(#ededed));
    background: linear-gradient(to right, white 0%, #f6f6f6 47%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 ); }

.container .body section.section#contactos article.section-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container .body section.section#contactos article.section-article article {
    width: 50%; }
  .container .body section.section#contactos article.section-article article.form-contact {
    padding: 10px; }
    .container .body section.section#contactos article.section-article article.form-contact form label {
      width: 100%;
      display: block;
      color: #ff6300;
      margin-top: 10px;
      font-family: "Montez", cursive;
      font-size: 1.6em; }
    .container .body section.section#contactos article.section-article article.form-contact form input {
      width: 100%;
      height: 40px;
      border-radius: 5px;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: solid 1px #ff6300;
      border-color: #ff6300;
      padding: 2%; }
      .container .body section.section#contactos article.section-article article.form-contact form input::-webkit-input-placeholder {
        color: rgba(255, 99, 0, 0.3);
        font-weight: normal !important; }
      .container .body section.section#contactos article.section-article article.form-contact form input:-ms-input-placeholder {
        color: rgba(255, 99, 0, 0.3);
        font-weight: normal !important; }
      .container .body section.section#contactos article.section-article article.form-contact form input::-ms-input-placeholder {
        color: rgba(255, 99, 0, 0.3);
        font-weight: normal !important; }
      .container .body section.section#contactos article.section-article article.form-contact form input::placeholder {
        color: rgba(255, 99, 0, 0.3);
        font-weight: normal !important; }
    .container .body section.section#contactos article.section-article article.form-contact form textarea {
      width: 100%;
      height: 200px;
      border-radius: 5px;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-style: solid;
      border-color: #ff6300;
      padding: 2%; }
      .container .body section.section#contactos article.section-article article.form-contact form textarea::-webkit-input-placeholder {
        color: rgba(255, 99, 0, 0.3);
        font-weight: normal !important; }
      .container .body section.section#contactos article.section-article article.form-contact form textarea:-ms-input-placeholder {
        color: rgba(255, 99, 0, 0.3);
        font-weight: normal !important; }
      .container .body section.section#contactos article.section-article article.form-contact form textarea::-ms-input-placeholder {
        color: rgba(255, 99, 0, 0.3);
        font-weight: normal !important; }
      .container .body section.section#contactos article.section-article article.form-contact form textarea::placeholder {
        color: rgba(255, 99, 0, 0.3);
        font-weight: normal !important; }
    .container .body section.section#contactos article.section-article article.form-contact form button {
      width: 80%;
      height: 40px;
      border-radius: 5px;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-style: solid;
      background-color: #ff6300;
      border: none;
      color: white;
      text-transform: uppercase;
      margin: 0 auto;
      display: block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      margin-top: 10px; }
      .container .body section.section#contactos article.section-article article.form-contact form button:hover {
        width: 100%; }

.container .footer {
  color: #ff6300; }
  .container .footer .footer-social {
    background-color: #402700;
    padding: 10px; }
    .container .footer .footer-social .icon {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .container .footer .footer-social .icon a {
        color: #ff6300;
        text-decoration: none;
        font-size: 0.9em;
        margin: 10px;
        border-radius: 50px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .container .footer .footer-social .icon a:hover {
          -webkit-transform: scale(1.3);
          -ms-transform: scale(1.3);
          transform: scale(1.3); }
  .container .footer .footer-1 {
    padding: 10px;
    background-color: #633B00;
    text-align: center; }
    .container .footer .footer-1 p:first-child {
      text-decoration: underline; }
    .container .footer .footer-1 p span {
      color: #ff6300; }
  .container .footer .copyrigth {
    text-align: center;
    padding: 10px;
    color: #633B00;
    background-color: #402700; }
