.container{
    .body{
        .video{
            margin-top: $margin;
            .video-title{
                background-color: $color-2;
                border-radius: $radius-1 $radius-1 0 0;
                display: flex;
                justify-content: space-between;
                h2{
                    padding: $padding;
                    color:$color-1;
                    font-family: $font-2;
                    font-size: 2em;
                }
                .icon-ichuri{
                    width: 70px;
                    align-self: center;
                    img{
                        max-width: 100%;;
                    }
                }
            }
            .video-youtube{
                width: 100%;
                iframe{
                    width: 100%;
                    height: 600px;
                }
            }
        }
        #eventos{
            @import "includes/eventos.scss";
        }
        #nosotros{
            @import "includes/nosotros.scss";
        }
        #sucursales{
            @import "includes/sucursales.scss";
        }
        #servicios{
            @import "includes/servicios.scss";
        }
    }
}