.container{
    .footer{
        color:$color-1;
        .footer-social{
            background-color:$color-2-hover;
            padding:$padding;
            .icon{
                text-align:center;
                a{
                    color:$color-2;
                    text-decoration:none;
                    font-size:0.9em;
                    margin:$margin;
                    border-radius:50px;
                    transition:$transition;
                    &:hover{
                        color:$color-2-hover;
                    }
                }
            }
        }
        .footer-1{
            padding: $padding;
            background-color: $color-2;
            text-align: center;
            p{
                &:first-child{
                    text-decoration: underline;

                }
                span{
                    color:$color-1;
                }
            }
        }
        .copyrigth{
            text-align: center;
            padding: $padding;
            color: $color-2;
            background-color: $color-2-hover;
        }
    }
}