.header{
    height: 100vh;
    overflow: hidden;
    position: relative;
    .slider{
        position: relative;
        img{
            width: 100%;
            position: absolute;
            top: -180px;
            z-index: -1;
        }
        .capa{
            background-color: rgba(black, .7);
            width: 100%;
            height: 100vh;
            position: absolute;
            top:0;
            left: 0;
            z-index: 3;
        }
        
    }
    .logo{
        position: absolute;
        z-index: 5;
        // background-color: red;
        margin:auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: $padding;
        
        img{
            position: absolute;
            margin:auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}