@mixin flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
@mixin shadow {
    box-shadow: 2px 0px 5px rgba($color-3, .3);
}
@mixin btn-s {
    text-decoration: none;
    display: block;
    color:$color-1;
    border:2px solid $color-1;
    text-align: center;
    border-radius: $radius-1;
    padding: $padding/2;
    transition: $transition;
    font-size: 0.7em;
    &:hover{
        background-color: $color-1;
        color:$color-4;
        cursor: pointer;
        transform: scale(1.1);
    }
}