.container{
    .nav{
        padding-left: 50px;
        padding-right: 50px;
        background-color: $color-2;
        height: 60px;
        display: flex;
        border-bottom: 2px solid $color-1;
        justify-content: space-between;
        // width: 90%;
        // padding-left: 5%;
        // padding-right: 5%;
        // position: fixed;
        // z-index: 200;
        // top: 0;
        // left: 0;
        .nav-brand{
            display: flex;
            .nav-logo{
                width: 100px;
                height: 100px;
                background-color: $color-2;
                border-bottom: 3px solid $color-1;
                z-index: 4;
                border-radius: 200px;
                position: relative;
                display: flex;
                img{
                    max-width: 100%;
                    padding: $padding;
                    margin: 0 auto;
                }
            }
            .name-brand{
                align-self: center;
                h1{
                    color:$color-1;
                    // text-transform: uppercase;
                    font-family: $font-2;
                    font-size: 2em;
                }
            }
        }
        .nav-page{
            ul{
                display: flex;
                li{
                    list-style: none;
                    margin-left: $margin;
                    margin-top: $margin;
                    a{
                        text-decoration: none;
                        color:$color-4;
                        transition: $transition;
                        &:hover{
                            color:$color-1;
                        }
                    }
                }
            }
        }        
    }
}