// PADDING - MARGIN
$padding:10px;
$margin:10px;

//COLORES
$color-1:#ff6300;
$color-2:#633B00;
$color-3:black;

//EFECTOS
$transition:0.3s;

// FUENTES
@import url(https://fonts.googleapis.com/css?family=Montez|Roboto&display=swap);
$font-1:'Roboto', sans-serif;
$font-2: 'Montez', cursive;