// PADDING - MARGIN
$padding:10px;
$margin:10px;

//COLORES
$color-1:#ff6300;
$color-2:#633B00;
$color-2-hover:#402700;
$color-3:black;
$color-3-s:#7f8c8d;
$color-4:white;
$color-link:#3498db;
$color-link-hover:#2980b9;
$color-danger:#d35400;
$color-danger-hover:#c0392b;

//EFECTOS
$transition:0.3s;

// FUENTES
@import url(https://fonts.googleapis.com/css?family=Montez|Roboto&display=swap);
$font-1:'Roboto', sans-serif;
$font-2: 'Montez', cursive;

// RADIUS
$radius-1:5px;