@media only screen and (max-width: 360px) {
  .container nav.nav .nav-brand .nav-logo {
    display: none !important; }
  .container .body .section .section-article .evento-item .evento-img {
    height: auto !important; }
  .container .body .section .section-article .evento-item .evento {
    height: auto !important; }
    .container .body .section .section-article .evento-item .evento .btn-evento {
      margin: 15px 0; }
  .container .body .section .section-article .form-contact {
    width: 100% !important; } }
