@media only screen and (max-width: 780px) {
  .container {
    width: 100% !important; }
    .container nav .nav-page {
      display: none; }
    .container .body .section {
      padding-left: 10px;
      padding-right: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .container .body .section .section-article .article {
        width: 100%; }
      .container .body .section .section-article .contenedor-menu .pagina-izquierda, .container .body .section .section-article .contenedor-menu .pagina-central, .container .body .section .section-article .contenedor-menu .pagina-derecha {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
      .container .body .section .section-article .servicio-item {
        width: 100% !important; }
        .container .body .section .section-article .servicio-item img.isotipo {
          width: 100px !important;
          height: auto !important;
          padding: 10px !important;
          bottom: -10px !important;
          left: 43% !important; }
      .container .body .section .section-article .sucursal {
        -webkit-box-shadow: none !important;
        box-shadow: none !important; }
        .container .body .section .section-article .sucursal .sucursal-img .capa {
          display: none !important; }
        .container .body .section .section-article .sucursal .sucursal-img .imagen-uno, .container .body .section .section-article .sucursal .sucursal-img .imagen-dos, .container .body .section .section-article .sucursal .sucursal-img .imagen-tres {
          background: white !important; }
        .container .body .section .section-article .sucursal .sucursal-img .sucursal-content .sucursal-description {
          width: 100% !important; }
        .container .body .section .section-article .sucursal .sucursal-img .sucursal-content .sucursal-action {
          display: none !important; }
      .container .body .section .section-article .evento-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .container .body .section .section-article .evento-item .evento {
          width: 100% !important;
          -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
          order: 2; }
        .container .body .section .section-article .evento-item .evento-img {
          width: 100% !important;
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1; }
      .container .body .section .section-article .aside-contact {
        width: 100% !important; }
      .container .body .section .section-article .form-contact {
        width: 80% !important;
        margin: auto; }
    .container footer footer.footer-1 {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .container footer footer.footer-1 .footer-left {
        width: 80% !important;
        margin: auto;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; }
      .container footer footer.footer-1 .footer-rigth {
        width: 80% !important;
        margin: auto;
        text-align: center;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; }
        .container footer footer.footer-1 .footer-rigth .img-logo-footer {
          margin: auto; } }
