extends ../../templates/template-content.pug
block append config
    - page_title = "5to Concierto"
    - backlink =""

block content
    //- FIXME: Modificar el evento
    .evento
        .evento-title
            h2 5to Concierto
