.container{
    .footer{
        color:$color-1;
        .footer-social{
            background-color:$color-2-hover;
            padding:$padding;
        }
        .footer-1{
            padding: $padding*2;
            background-color: $color-2;
            text-align: center;
            display: flex;
            .footer-left{
                width: 70%;
                p{
                    text-align: left;
                    &:first-child{
                        font-weight: normal;    
                    }
                    span{
                        color:$color-1;
                        font-size: 1em !important;
                        margin-right: 10px;
                    }
                }
            }
            .footer-rigth{
                width: 30%;
                display: flex;
                .img-logo-footer{
                    width: 60%;
                    img{
                        max-width: 100%;
                        margin: 0 auto;
                    }
                }
                
            }
        }
        .copyrigth{
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
            color: $color-1;
            background-color: $color-2-hover;
            span{
                a{
                    text-decoration: none;
                    color: $color-1;
                    transition: 0.3s;
                    &:hover{
                        color:$color-4;
                    }
                }
            }
        }
    }
}