*{
    margin: 0;
    padding: 0;
    font-family: $font-1;
    font-weight: 300;
    box-sizing: border-box;
}
p{
    margin:$margin;
}
h2{
    text-align: center;
}
.title-2{
    font-family: $font-2;
}
h3{
    text-align: center;
}
img{
    max-width: 100%;
    object-fit: cover;
}
.hr{
    width: 60%;
    margin: $margin*2 auto;
    height: 1px;
    background-color: $color-2;
    position: relative;
    display: block;
    .icon{
        position: absolute;
        display: block;
        padding-left: $padding*2;
        padding-right: $padding*2;
        color:$color-1;
        background-color: $color-4;
        font-size: 1.2em;
        margin-left: 50%;
        top:-10px;
    }
}
.title-3{
    font-family: $font-1;
    padding: $padding;
}
.section{
    padding-left: 100px;
    padding-right: 100px;    
    .title-general{
        display: flex;
        justify-content: center;
        padding-top: $padding*2;
        margin-top: $margin;
        i{
            color:$color-1;
            display: block;
            text-align: center;
        }
        .section-title{
            padding: $padding;
            color:$color-2;
            font-size: 3em;
            
        }
    }
    .section-article{
        padding: 0 $padding $padding $padding;
    }
    a.link{
        text-decoration:none;
        display: block;
        padding: $padding;
        background-color: $color-link;
        color:$color-4;
        text-align: center;
        border-radius: $radius-1;
        &:hover{
            background-color:$color-link-hover;

        }
    }
}
.link-g{
    width: 100%;
    z-index: 5;
    a{
        @include link-ichuri;
    }
}
.color-dark{
    background-color: #fff2eec5;
    padding-top: $padding*4;
    padding-bottom: $padding*4;
}
// Botones
.btn-primary{
    @include btn-primary;
}
// SOMBRAS
.shadow{
    @include shadow;
}
.t-shadow-hover{
    @include t-shadow-hover;
}
.social{
    text-align: center;
    margin-top: $margin*2;
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
        color:$color-1;
        text-align: center;
        font-size: 2em;
        padding: $padding;
        transition: 0.3s;
        border-radius: 10%;
        margin-left: 20px;
        margin-right: 20px;
        &:hover{
            color: $color-4;
        }
    }
}
.enlace{
    text-align: center;
    span{
        color:$color-2;
    }
    a{
      color:$color-1; 
      transition:$transition;
      &:hover{
          color:$color-2;
          text-decoration: none;
          font-weight: normal;
      } 
    }
}