.header{
    overflow: hidden;
    position: relative;
    
    
    .slider{
        position: relative;
        height: auto;
        img{
            width: 100%;
            top: -180px;
            z-index: -1;
        }
        .capa{
            background-color: rgba(black, .7);
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
            z-index: 1;
        }
        
    }
    .contenido-slider{
        position: absolute;
        z-index: 5;
        margin:auto;
        top: 0;
        left: 0;
        padding: $padding;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
            color:$color-4;
            font-size: 2em;
        }
        .logo{   
            text-align: center;        
            img{
                max-width: 100%; 
            }
            p{
                color: $color-1;
                font-family: $font-2;
                text-align: center;
                font-size: 2em;
                font-weight: 400;
            }
        }
        .social{
            text-align: center;
            margin-top: $margin*2;
            display: flex;
            justify-content: center;
            a{
                text-decoration: none;
                color:$color-1;
                text-align: center;
                font-size: 1.5em;
                margin:$margin*3;
                display: block;
                padding: $padding;
                transition: 0.3s;
                border-radius: 10%;
                &:hover{
                    color: $color-4;
                    // background-color:$color-1;
                    // border-radius: 50%;
                    // border:2px solid $color-4;
                }
            }
        }
        .link-g{
            a{
                // text-transform: uppercase;
                
                // &:hover{
                //     color: $color-4;
                //     border:2px solid $color-4;
                // }
            }
    
        }        
    }
}