- var page_title ="Inicio"
- var page = "Ichuri - Coffee"

//- DATOS
- var email = "info@ichuri.net"
- var location = ""
- var celular = "75810704"
- var telefono = "2900620"
- var description = "Ichuri Coffee es una empresa con fin social."
- var keywords= "Desayunos, Almuerzos"

//- Css
- var css = ['estilos.css']

//- ISOTIPO
- var isotipo = "isotipo-naranja-chef.png"
- var logo = "logo-coffee-ichuri.png"
- var isotipologo= "isotipo-coffee-ichuri.png"
- var isotipo_ichuri = "ichuri-isotipo-naranja.png"

//- MENU
- 
    var menu = [
        {
            text:'Inicio',
            link: '/',
            icon: 'icon-home',
            status: true
        },
        {
            text: 'Nosotros',
            link: 'nosotros.html',
            icon: 'flaticon-serving-dish',
            status: true
        },
        {
            text: 'Empresas',
            link: 'sucuarsales.html',
            icon: 'flaticon-chef',
            status: false
        },
        {
            text: 'Nuestro Menu',
            link: 'menu.html',
            icon: 'flaticon-menu',
            status: true
        },
        {
            text: 'Servicios',
            link: 'servicios',
            icon: 'flaticon-chef-1',
            status: false
        },
        {
            text: 'Eventos',
            link: 'eventos',
            icon: 'flaticon-champagne-glass',
            status: false
        },
        {
            text: 'Contactos',
            link: 'contacto.html',
            icon: 'icon-phone',
            status: true
        }
        
    ]

//- Elaces Sociales
- var facebook = "https://www.facebook.com/Ichuri-Coffee-1908046109445400/"

//- EVENTOS
- 
    var eventos = [
        {
            title: "5to Concierto",
            description: "En favor de los proyectos de los NIÑOS Y JÓVENES DE LA FUNDACIÓN ICHURI y CONMEMORANDO 10 AÑOS DE VIDA DE ESTE SUEÑO",
            body: "",
            link: "5toconcierto.html",
            img: "3erGastroFest2019.jpeg" // TODO: Modificar la imagen
        }
    ]
//- Evento
//- SERVICIOS
-
    var servicios = [
        {
            img: "vinos.jpg",
            title: "Catering",
            description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa enim quaerat commodi magnam minus iusto ea dolorum necessitatibus aspernatur voluptates?",
            link: "catering.html"
        },
        {
            img: "vinos.jpg",
            title: "Catering",
            description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa enim quaerat commodi magnam minus iusto ea dolorum necessitatibus aspernatur voluptates?",
            link: "catering.html"
        },
        {
            img: "vinos.jpg",
            title: "Catering",
            description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa enim quaerat commodi magnam minus iusto ea dolorum necessitatibus aspernatur voluptates?",
            link: "catering.html"
        }
    ]

//- Back Links
- var backlink= ""