extends ../templates/template
block append config
    - page_title = "Eventos"
block lista_eventos
    section.section.eventos
        +titulo('Eventos')(class="flaticon-cake")
        article.section-article 
            each evento in eventos
                +evento(evento.title, evento.description,evento.link,evento.img)