section.section#contactos.color-dark
    +titulo('Contactos')(class="flaticon-place")
    .hr
        .icon.flaticon-chef
    article.section-article
        article.aside-contact
            .fb
                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v4.0"></script>
                <div class="fb-page" data-href="https://www.facebook.com/Ichuri-Coffee-1908046109445400/" data-tabs="timeline, events, messages" data-width="1200" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Ichuri-Coffee-1908046109445400/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Ichuri-Coffee-1908046109445400/">Ichuri Coffee</a></blockquote></div>

        article.form-contact
            h3 Envianos tu consulta
            form(action="enviar.php", method="post")
                input(type="text", name="nombre", placeholder="Nombre completo", required)
                input(type="email", name="correo", placeholder="ejemplo@dominio.com", required)
                textarea(name="comentario", cols="30", rows="10", placeholder="Deja tu mensaje", required)
                button(type="submit") Enviar