header.header
    .slider
        img.img-1(src="media/header/vinos.jpg", alt="", srcset="")
        .capa
    .contenido-slider
        .logo
            p Coffee - Restaurant
            img(src="media/"+isotipologo, alt="ichuri-coffe-logo")
            p Una empresa con fin social
        +social
        p Ahora puedes hacer tu pedido por Delivery:
        .link-g
            a.btn-secondary(href="https://tinyurl.com/ICHURI") Haz tu pedido aquí
