header.header
    .slider
        img.img-1(src="media/header/vinos.jpg", alt="", srcset="")
        .capa
    .contenido-slider
        .logo
            p Coffe - Restaurant
            img(src="media/"+isotipologo, alt="ichuri-coffe-logo")
            p Una empresa con fin social
        +social
        .link-g
            a.btn-secondary(href="http://") Contactanos
