section.section.color-dark
    .title-general
        i.flaticon-menu
        h2.section-title.title-2 Menu
    article.section-article 
        .contenedor-menu
            .contenedor-lista
                .lista
                    h2 Platos
                    h4 Chala Ichuri
                    ol
                        li Filete de pollo
                        li jamón
                        li queso
                        li arroz

                .lista
                    h4 Lomo Fundido 
                    ol
                        li Carne de lomo
                        li Queso fundido
                        li Morrón
                        li Papa frita
                        li salsa Ichuri
                .lista
                    h4 Pasta Alfredo
                    ol
                        li Espagueti con crema
                        li jamón
                        li Queso
                        li Pan al ajo
                .lista
                    h4 Milanesa Napolitana
                    ol
                        li Milanesa de pollo con jamon
                        li queso
                        li Arroz
                        li Papa
                        li Ensalada
                        li Salsa de tomate
                .lista
                    h4 Trucha a la Romana
                    ol
                        li Trucha rebosada en huevo y harina
                        li Arroz
                        li Papa
                        li Ensalada
                .lista
                    h4 Trucha al Ajillo
                    ol
                        li Trucha
                        li Arroz
                        li Papa
                        li Ensalada
                        li Salsa de ajo
                .lista
                    h4 Chuleta de Cerdo a la Barbacoa
                    ol
                        li Chuletas con salsa barbacoa
                        li Arroz
                        li Papas
                        li Ensalada
                .lista
                    h4 Pique Macho
                    ol
                        li Carne de res picada
                        li Salchicha
                        li Queso
                        li Pimenton
                        li Locoto
                        li Cebolla
                        li Tomate
                        li Aceituna
                        li Papas fritas
                .lista
                    h4 Ensalado Andina
                    ol
                        li Lechuga
                        li Tomate
                        li Pepino
                        li Zanahoria
                        li Morrón
                        li Queso
                        li Quinua
                        li Vino dulce
                .lista
                    h4 Tortollas de Quinua y Verduras
                    ol
                        li Totillas de Quinua y verduras
                        li Arroz
                        li Ensalada de lechuga, tomate y pepino
            .contenedor-lista
                .lista
                    h2 Desayunos
                    h4 Desayuno Ichuri
                    ol
                        li Revuelto de huevo
                        li Jamón
                        li Quinua
                        li Jugo de fruta
                        li Café
                        li Tostadas
                .lista
                    h4 Desayuno Yungueño
                    ol
                        li Lomo
                        li Arroz
                        li Huevo
                        li Plátano
                        li Pan
                        li Cafe
                .lista
                    h4 Desayuno Continental
                    ol
                        li Tostadas
                        li Jugo
                        li Cafe
                        li Mantequilla y mermelada
                .lista
                    h4 Desayuno Simple
                    ol
                        li Pan marraqueta
                        li Té o cafe o mate
                        li Queso
            .contenedor-lista
                .lista
                    h2 Pasteleria
                    h4 Lorem ipsum dolor sit.
                    ol
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                .lista
                    h4 Lorem ipsum dolor sit.
                    ol
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                .lista
                    h4 Lorem ipsum dolor sit.
                    ol
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
            .contenedor-lista
                .lista
                    h2 Bebidas
                    h4 Lorem ipsum dolor sit. 
                    ol
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                .lista
                    h4 Lorem ipsum dolor sit.
                    ol
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                .lista
                    h4 Lorem ipsum dolor sit.
                    ol
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
                        li Lorem ipsum dolor sit.
