section.section#nosotros
    +titulo('Nosotros')(class="flaticon-cake")
    .hr
        .icon.flaticon-chef
    article.section-article
        article.section-nosotros
            .texto
                h3.title-nosotros
                .description-nosotros 
                    p En un inicio Ichuri Coffee-restaurant nace como una alternativa productiva un 7 de mayo del 2011 cuando la Fundación Ichuri se encontraba en uno de sus peores momentos financieros y ya no tenía recursos para mantener los proyectos del centro de atención integral para niñ@s en situación de vulnerabilidad y del centro de capacitación para jóvenes en situación de alto riesgo.
                    p Era necesario pensar en una actividad que genere recursos económicos y ahí nace la idea, el sueño de tener un restaurant con fin social.
                    p Se realizó una búsqueda por varios lugares de La Paz de locales que se encontraban en alquiler, buscábamos algo muy pequeño de una capacidad de 4 mesas y 16 sillas, pero un día encontramos en el periódico un anuncio de un restaurant en alquiler a lo cual llamamos y concretamos una cita. Al visitar el lugar nos quedamos sorprendidos por su ubicación, su decorado y lo grande que era y lo vimos como algo inaccesible porque el dueño solo el equipamiento lo estaba vendiendo en 80.000 dólares; algo que no teníamos.
                    p Tuvimos muchas conversaciones con el dueño y aunque tenía muchas ofertas un día nos dijo “quiero apostar por lo que están haciendo y he encontrado una fórmula que se llama “leasing” “ustedes me pagaran alquiler y un monto de dinero que ira como una cuota de capital”; era algo increíble para nosotros pero “Dios obra de una forma misteriosa…” eso fue el inicio de Ichuri Coffee – Restaurant que dio la posibilidad que ese mismo año se vuelva abrir los proyectos que se habían cerrado de Fundación Ichuri.
                    p El 2014 ya existían 4 restaurantes en la ciudad de La Paz y había dado lugar a otro proyecto que lo llamamos “COMUNIDADES PRODUCTIVAS” que brinda una capacitación y un trabajo en los mismos restaurantes a jóvenes en situación de alto riesgo. Las Comunidades Productivas se han independizado de la Fundación Ichuri y son unidades productivas que tienen un fuerte contenido social puesto que siguen brindando oportunidades a jóvenes sin experiencia pero que ahora son los mismos jóvenes los que administran los restaurantes bajo un concepto profundo de reciprocidad.     
                    p En la actualidad ICHURI creo otras empresas aparte de Ichuri Coffee – Restaurant que sigue brindando mayores oportunidades laborales a la juventud…
                    p LA GASTRONOMÍA TIENE QUE LLEGARTE AL CORAZÓN...

                    .img-logo-parrafo
                        img(src="media/"+logo, alt="", srcset="")
        article.section-nosotros
            .texto
                h3.title-nosotros Visión
                p.description-nosotros Ser la mejor empresa de servicios gastronómicos con enfoque social del país, preferida por su eficiencia en el servicio, la calidez y la calidad apoyados con un personal altamente calificado.
                    img.isotipo-burbuja(src="media/"+isotipo, alt="", srcset="")
        article.section-nosotros
            .texto
                h3.title-nosotros Misión
                p.description-nosotros Ofrecer a nuestros clientes una amplia variedad de servicios gastronómicos, con excelencia en el servicio y estándares de calidad, a precios justos, en un ambiente cómodo y placentero y el mejor equipo humano.
                    img.isotipo-burbuja(src="media/"+isotipo, alt="", srcset="")
        article.section-nosotros
            .texto
                h3.title-nosotros Objetivos
                .description-nosotros
                    img.isotipo-burbuja(src="media/"+isotipo, alt="", srcset="")
                    ol
                        li Ofrecer la mejor atención a clientes de forma eficiente atenta y confiada.
                        li Darle importancia a cada uno de los clientes, de ellos depende el verdadero éxito.
                        li Elaborar los platos gastronómicos con todo detalle y cuidado, además de llenarlos de sabores y sensaciones placenteras para el paladar del cliente
                        li Manejar en la empresa normas de higiene y inocuidad alimentaria.
                        li Dar los mejores precios a los platos ante una buena calidad
                        li Tener equipado el restaurant, de forma cómoda y placentera para que los clientes se sientan muy gusto.
                        li Lograr que los empleados encuentre un espacio de capacitación y fuente laboral acorde a sus necesidades.
                    p Brindar la posibilidad de que los trabajadores puedan ser propietarios de las empresas.

