extends ../../templates/notifications.pug
block typeError
    +notification('Muchas Gracias...!','Pronto revisaremos su correo y, esperamos poder darle una respuesta satisfactoría.')(class="icon-checkmark")