section.section#contactos
    .title-general
        i.flaticon-place
        h2.section-title.title-2 Contactos
    article.section-article
        article.aside-contact


        article.form-contact
            form(action="", method="post")
                label(for="") Nombre:
                input(type="text", name="", placeholder="Nombre completo")
                label(for="") Correo:
                input(type="email", name="", placeholder="ejemplo@dominio.com")
                label(for="") Mensaje:
                textarea(name="", cols="30", rows="10", placeholder="Deja tu mensaje")
                button(type="submit") Enviar