section.section#eventos
    .title-general
        i.flaticon-cake
        h2.section-title.title-2 Eventos
    article.section-article 
            .evento-item
                article.evento
                    .evento-title
                        h3 3 er GrastroFest 2019
                    article.evento-descripcion
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate ipsum inventore ut quam amet natus veniam. Error itaque, officiis sint aliquam illo ut aut debitis quo id praesentium provident explicabo molestias, sapiente in harum, quam magni reprehenderit eum saepe soluta nemo eos nam culpa! Facilis corporis maxime accusamus laborum sit.
                    .btn-evento
                        a(href="#") Ver Evento
                .evento-img
                    .icon-ichuri
                        img(src="../media/isotipo-naranja-chef.png", alt="", srcset="")
                    img(src="../media/eventos/3erGastroFest2019.jpeg", alt="", srcset="")
            .evento-item
                article.evento
                    .evento-title
                        h3 3 er GrastroFest 2019
                    article.evento-descripcion
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate ipsum inventore ut quam amet natus veniam. Error itaque, officiis sint aliquam illo ut aut debitis quo id praesentium provident explicabo molestias, sapiente in harum, quam magni reprehenderit eum saepe soluta nemo eos nam culpa! Facilis corporis maxime accusamus laborum sit.
                    .btn-evento
                        a(href="#") Ver Evento
                .evento-img
                    .icon-ichuri
                        img(src="../media/isotipo-naranja-chef.png", alt="", srcset="")
                    img(src="../media/eventos/3erGastroFest2019.jpeg", alt="", srcset="")
            .evento-item
                article.evento
                    .evento-title
                        h3 3 er GrastroFest 2019
                    article.evento-descripcion
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate ipsum inventore ut quam amet natus veniam. Error itaque, officiis sint aliquam illo ut aut debitis quo id praesentium provident explicabo molestias, sapiente in harum, quam magni reprehenderit eum saepe soluta nemo eos nam culpa! Facilis corporis maxime accusamus laborum sit.
                    .btn-evento
                        a(href="#") Ver Evento
                .evento-img
                    .icon-ichuri
                        img(src="../media/isotipo-naranja-chef.png", alt="", srcset="")
                    img(src="../media/eventos/3erGastroFest2019.jpeg", alt="", srcset="")