section.section
    .title-general
        i.flaticon-menu
        h2.section-title.title-2 Menu
    article.section-article 
        .contenedor-menu
            .pagina-izquierda
                .delante.lado
                    img(src="../media/logo-coffee-ichuri.png", alt="", srcset="")
                    button.btn-ver-menu Ver Menu
                .atras.lado
                    .contenedor-lista
                        .lista-uno
                            h2 Lorem, ipsum dolor.
                            h4 Lorem ipsum dolor sit.
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus amet consequuntur quasi.
                        .lista-dos
                            h2 Lorem, ipsum dolor.
                            h4 Lorem ipsum dolor sit.
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus amet consequuntur quasi.
                        .lista-tres
                            h2 Lorem, ipsum dolor.
                            h4 Lorem ipsum dolor sit.
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus amet consequuntur quasi.
            .pagina-central
                .contenedor-lista
                    .lista-uno
                        h2 Lorem, ipsum dolor.
                        h4 Lorem ipsum dolor sit.
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus amet consequuntur quasi.
                    .lista-dos
                        h2 Lorem, ipsum dolor.
                        h4 Lorem ipsum dolor sit.
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus amet consequuntur quasi.
                    .lista-tres
                        h2 Lorem, ipsum dolor.
                        h4 Lorem ipsum dolor sit.
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus amet consequuntur quasi.
            .pagina-derecha
                .contenedor-lista.lado-2
                    .lista-uno
                        h2 Lorem, ipsum dolor.
                        h4 Lorem ipsum dolor sit.
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus amet consequuntur quasi.
                    .lista-dos
                        h2 Lorem, ipsum dolor.
                        h4 Lorem ipsum dolor sit.
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus amet consequuntur quasi.
                    .lista-tres
                        h2 Lorem, ipsum dolor.
                        h4 Lorem ipsum dolor sit.
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus amet consequuntur quasi.
                .pagina-derecha-atras.lado-2
                    img(src="../media/isotipo-naranja-chef.png", alt="")
                    .flaticon-cutlery-1
                .cerrar-menu.icon-cancel-circle
