section.section#sucursales
    h2.section-title.title-2 Sucursales
    article.section-article
        article.sucursal
            .sucursal-img
                //- img(src="../media/header/vinos.jpg", alt="", srcset="")
                //- .capa
                .sucursal-content
                    .sucursal-description
                        .sucursal-title
                            h3.title-3 San Francisco
                        p ICHURI COFFEE RESTAURANT SAN FRANCISCO
                        p <span class="icon-location"></span>Casa Matriz  Mariscal Santa Cruz esquina Sagarnaga, Galería la República Piso 7, Nº 918
                        p <span class="icon-phone"></span> 2900620 – 75810704
                        p <span class="icon-clock"></span> de 10:00 a 22:00
                        p La Paz – Bolivia
                    .sucursal-action
                        .sucursal-icon#sanfrancisco-icon
                            .flaticon-chef
                        .sucursal-link
                            .a#map-sanfrancisco-btn Ver mapa
                    .sucursal-map#sucursal-sanfrancisco
                        .btn-close
                            .icon-cancel-circle#close-btn
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.584688002999!2d-68.13748233496256!3d-16.496554129856328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f2073f0a81ca1%3A0xd06e1389c3fa1902!2sIchuri+Food!5e0!3m2!1ses-419!2sbo!4v1559178200538!5m2!1ses-419!2sbo"  frameborder="0" style="border:0" allowfullscreen></iframe>
                .hr
                    .icon
                        span.icon-glass2
                .sucursal-content
                    .sucursal-action
                        .sucursal-icon#sopocachi-icon
                            .flaticon-chef
                        .sucursal-link
                            .a#map-sopocachi-btn Ver mapa
                    .sucursal-description
                        .sucursal-title
                            h3.title-3 Sopocachi
                        p ICHURI COFFEE RESTAURANT SOPOCACHI 
                        p <span class="icon-location"></span>Avenida Sanchez Lima entre Fernando Guachalla y Rosendo Gutierrez, Nº 2264
                        p <span class="icon-phone"></span> 77287853
                        p <span class="icon-clock"></span> de 10:00 a 22:00
                        p La Paz – Bolivia
                    .sucursal-map#sucursal-sopocachi
                        .btn-close
                            .icon-cancel-circle#close-btn
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.584688002999!2d-68.13748233496256!3d-16.496554129856328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f2073f0a81ca1%3A0xd06e1389c3fa1902!2sIchuri+Food!5e0!3m2!1ses-419!2sbo!4v1559178200538!5m2!1ses-419!2sbo"  frameborder="0" style="border:0" allowfullscreen></iframe>
                .hr
                    .icon
                        span.icon-spoon-knife
                .sucursal-content
                    .sucursal-description
                        .sucursal-title
                            h3.title-3 Santa Cruz
                        p ICHURI COFFEE RESTAURANT SANTA CRUZ
                        p <span class="icon-location"></span> Avenida Strongesth entre Monseñor y Libertad (a lado del Comité Cívico de Santa Cruz).
                        p <span class="icon-phone"></span> 3302478 – 75810701
                        p <span class="icon-clock"></span> de 10:00 a 22:00
                        p Santa Cruz – Bolivia
                    .sucursal-action
                        .sucursal-icon#santacruz-icon
                            .flaticon-chef
                        .sucursal-link
                            .a#map-santacruz-btn Ver mapa
                    .sucursal-map#sucursal-santacruz
                        .btn-close
                            .icon-cancel-circle#close-btn
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.584688002999!2d-68.13748233496256!3d-16.496554129856328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f2073f0a81ca1%3A0xd06e1389c3fa1902!2sIchuri+Food!5e0!3m2!1ses-419!2sbo!4v1559178200538!5m2!1ses-419!2sbo"  frameborder="0" style="border:0" allowfullscreen></iframe>
            