doctype html
html(lang="es")
    block config
        include ../config/config
    block mixin
        include ../mixins/mixin
    head
        block head
            include ../config/head
    body
        .container
            block nav
                include ../blocks/nav
            block header
            section.body
                block video
                block eventos
                block servicios
                block sucursales
                block menu
                block nosotros
                block contacto

                block lista_eventos
            block footer
                include ../blocks/footer
        .icon-menu#btn-menu
        #loader
            .flaticon-chef
        script(src="js/script.js",type="text/javascript")