@media only screen and(max-width:360px){
    .container{
        nav.nav{
            justify-content: center;
            .nav-brand{
                .nav-logo{
                    display: none !important;
                }
                .nav-brand{
                    
                }
            }
        }
        .body{
            .section{
                .section-article{
                    .evento-item{
                        .evento-img{
                            height: auto !important;
                        }
                        .evento{
                            height: auto !important;
                            .btn-evento{
                                margin:15px 0;
                            }
                        }
                    }
                    .servicio-item{
                        img.isotipo{
                            left: 35% !important;
                        }
                    }
                    .form-contact{
                        width: 100% !important;
                    }
                    .sucursal{
                        .sucursal-img{
                            .sucursal-content{
                                padding: 0px !important;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}