- var page_title ="Inicio"
- var page = "Ichuri - Coffee"

//- DATOS
- var email = "info@ichuri.net"
- var location = ""
- var celular = "75810704"
- var telefono = "2900620"

//- Css
- var css = ['estilos.css']

//- ISOTIPO
- var isotipo = "isotipo-naranja-chef.png"
- var logo = "logo-coffee-ichuri.png"
- var isotipo_ichuri = "ichuri-isotipo-naranja.png"

//- MENU
- var menu = ['Inicio','Nosotros','Sucursales','Eventos','Servicios','Menu','Contacto']

//- Elaces Sociales
- var facebook = "https://www.facebook.com/Ichuri-Coffee-1908046109445400/"

//- EVENTOS
- 
    var eventos = [
        {
            title: "3 er GrastroFest 2019",
            description: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate ipsum inventore ut quam amet natus veniam. Error itaque, officiis sint aliquam illo ut aut debitis quo id praesentium provident explicabo molestias, sapiente in harum, quam magni reprehenderit eum saepe soluta nemo eos nam culpa! Facilis corporis maxime accusamus laborum sit.",
            link: "3erGastroFest2019.html",
            img: "3erGastroFest2019.jpeg"
        },
        {
            title: "3 er GrastroFest 2019",
            description: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate ipsum inventore ut quam amet natus veniam. Error itaque, officiis sint aliquam illo ut aut debitis quo id praesentium provident explicabo molestias, sapiente in harum, quam magni reprehenderit eum saepe soluta nemo eos nam culpa! Facilis corporis maxime accusamus laborum sit.",
            link: "3erGastroFest2019.html",
            img: "3erGastroFest2019.jpeg"
        },
        {
            title: "3 er GrastroFest 2019",
            description: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate ipsum inventore ut quam amet natus veniam. Error itaque, officiis sint aliquam illo ut aut debitis quo id praesentium provident explicabo molestias, sapiente in harum, quam magni reprehenderit eum saepe soluta nemo eos nam culpa! Facilis corporis maxime accusamus laborum sit.",
            link: "3erGastroFest2019.html",
            img: "3erGastroFest2019.jpeg"
        },
        {
            title: "3 er GrastroFest 2019",
            description: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate ipsum inventore ut quam amet natus veniam. Error itaque, officiis sint aliquam illo ut aut debitis quo id praesentium provident explicabo molestias, sapiente in harum, quam magni reprehenderit eum saepe soluta nemo eos nam culpa! Facilis corporis maxime accusamus laborum sit.",
            link: "3erGastroFest2019.html",
            img: "3erGastroFest2019.jpeg"
        },
        {
            title: "3 er GrastroFest 2019",
            description: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate ipsum inventore ut quam amet natus veniam. Error itaque, officiis sint aliquam illo ut aut debitis quo id praesentium provident explicabo molestias, sapiente in harum, quam magni reprehenderit eum saepe soluta nemo eos nam culpa! Facilis corporis maxime accusamus laborum sit.",
            link: "3erGastroFest2019.html",
            img: "3erGastroFest2019.jpeg"
        }
    ]
//- SERVICIOS
-
    var servicios = [
        {
            img: "vinos.jpg",
            title: "Catering",
            description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa enim quaerat commodi magnam minus iusto ea dolorum necessitatibus aspernatur voluptates?",
            link: "catering.html"
        },
        {
            img: "vinos.jpg",
            title: "Catering",
            description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa enim quaerat commodi magnam minus iusto ea dolorum necessitatibus aspernatur voluptates?",
            link: "catering.html"
        },
        {
            img: "vinos.jpg",
            title: "Catering",
            description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa enim quaerat commodi magnam minus iusto ea dolorum necessitatibus aspernatur voluptates?",
            link: "catering.html"
        }
    ]

//- Back Links
- var backlink= ""