- var page_title ="Inicio"
- var page = "Ichuri - Coffee"

//- DATOS
- var email = "info@ichuri.net"
- var location = "";

//- Css
- var css = ['estilos.css']

//- ISOTIPO
- var isotipo = "isotipo-naranja-chef.png"
- var logo = "logo-coffee-ichuri.png"
- var isotipo_ichuri = "ichuri-isotipo-naranja.png"

//- MENU
- var menu = ['Inicio','Nosotros','Sucursales','Eventos','Servicios','Menu','Contacto']

//- Elaces Sociales
- var facebook = "https://www.facebook.com/Ichuri-Coffee-1908046109445400/"