section.body
    section.section.video
        .video-title
            h2 Somos Ichuri
            .icon-ichuri
                img(src="../media/ichuri-isotipo-naranja.png", alt="", srcset="")
        .video-youtube
            <iframe src="https://www.youtube.com/embed/hL7A57Ldt24?rel=0&disablekb=0&modestbranding=1&controls=0&amp;autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    include includes/body/eventos
    include includes/body/sucursales
    include includes/body/menu
    include includes/body/nosotros
    include includes/body/contacto