footer.footer
    footer.footer-social
        .icon
            a(href="#"): span.icon-facebook
            a(href="#"): span.icon-whatsapp
            a(href="#"): span.icon-mail2
            a(href="#"): span.icon-youtube
            a(href="#"): span.icon-instagram
    footer.footer-1
        p ICHURI COFFEE RESTAURANT SAN FRANCISCO 
        p <span class="icon-location"></span> Casa Matriz: Mariscal Santa Cruz esquina Sagarnaga, Galería la República Piso 7, Nº 918
        p <span class="icon-phone"></span> 2900620 – 75810704
        p <span class="icon-mail2"></span> info@ichuri.net
        p La Paz - Bolivia. 
    footer.copyrigth
        span &#169; <cite>Cristhian Chauca</cite>