header.header
    .slider
        img.img-1(src="../media/header/vinos.jpg", alt="", srcset="")
        .capa
    .logo
        img(src="../media/logo-coffee-ichuri.png", alt="ichuri-coffe-logo")
    .link-g
        a(href="http://") Contactanos
