header.header
    .slider
        img.img-1(src="../media/header/vinos.jpg", alt="", srcset="")
        .capa
    .contenido-slider
        .logo
            p Coffe - Restaurant
            img(src="../media/logo-coffee-ichuri.png", alt="ichuri-coffe-logo")
            p Una empresa con fin social
        .link-g
            a(href="http://") Contactanos
        .social
            a(href="#").icon-facebook
            a(href="#").icon-whatsapp
            a(href="#").icon-youtube
            a(href="#").icon-mail2
