<!DOCTYPE html>
html(lang="en")
    head
        include head.pug
    body
        .container
            include nav.pug
            include header.pug
            include body.pug
            include footer.pug