nav.nav
    .nav-brand
        .nav-logo
            img(src="../media/isotipo-naranja-chef.png", alt="", srcset="")
        .name-brand
            h1 Ichuri Coffee
    .nav-page
        ul
            li
                a(href="#") Nosotros
            li
                a(href="#") Sucuarsales
            li
                a(href="#") Eventos
            li
                a(href="#") Servicios
            li
                a(href="#") Contacto
            li
                a(href="#") Menu
    