nav.nav
    .nav-logo
        img(src="../media/isotipo-naranja-chef.png", alt="", srcset="")
    .nav-social
        ul
            li
                a(href="#").icon-facebook
            li
                a(href="#").icon-whatsapp
            li
                a(href="#").icon-youtube
            li
                a(href="#").icon-mail2
            li
                a(href="#").icon-instagram
    