.container{
    .body{
        section.section{
            article.section-article{
                .contenedor-menu{
                    width: 1000px;
                    height: 650px;
                    display: flex;
                    margin:auto;
                    perspective: 1500px;
                    .pagina-izquierda, .pagina-central, .pagina-derecha{
                        padding: $padding;
                        width: 100%;
                        height: 100%;
                        background-color: white;
                    }
                    .pagina-izquierda{
                        z-index: 10;
                        transform: rotateY(180deg);
                        transition: all 1s;
                        transform-origin: right;
                        transform-style: preserve-3d;
                        @include fondo-degradado;
                        
                        .delante{
                            text-align: center;
                            background-color: $color-2;
                            transform: rotateY(180deg);
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top:0;
                            left: 0;
                            border: 6px double $color-1;
                            border-left: none;    
                            button{
                                width: 200px;
                                padding: 6px;
                                background-color: $color-1;
                                color:$color-4;
                                border-style: none;
                                border-radius: $radius-1;
                                cursor: pointer;
                                transition: $transition;
                                &:hover{
                                    transform: translateY(5px);
                                    box-shadow: 0px -3px 5px 0px rgba($color-3, .3);
                                }
                            }
                        }
                    }
                    .pagina-izquierda-2{
                        transform: rotateY(0deg);
                    }
                    .pagina-derecha{
                        transform: rotateY(-180deg);
                        transform-origin: left;
                        transition: all 1s;
                        transform-style: preserve-3d;
                        @include fondo-degradado;
                        .cerrar-menu{
                            position: absolute;
                            top:-20px;
                            right: -20px;
                            text-align: center;
                            font-size: 2em;
                            cursor: pointer;
                            backface-visibility: hidden;
                        }
                    }
                    .pagina-derecha-2{
                        transform: rotateY(0deg);
                    }
                    .pagina-derecha-atras{
                        transform: rotateY(180deg);
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top:0;
                        left: 0;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        background-color: $color-2;
                        border: 6px double $color-1;
                        border-right: none;
                        color:$color-1;
                        img{
                            width: 90%;
                        }
                    }
                    .lado{
                        backface-visibility: hidden;
                    }
                    .lado-2{
                        backface-visibility: hidden;
                    }
                    .pagina-central{
                        @include fondo-degradado;
                    }
                }
            }
        }
    }
}