mixin error(tipo, descripcion)
    .error
        span(class=attributes.class)
        h3.error_titulo Error #{tipo}
        p.error_description #{descripcion}
        img(src="/media/isotipo-naranja-chef.png", alt="Logo").error_img