footer.footer
    footer.footer-social
        +social
    footer.footer-1
        .footer-left
            p ICHURI COFFEE RESTAURANT SAN FRANCISCO 
            p <span class="icon-location"></span> Casa Matriz: Mariscal Santa Cruz esquina Sagarnaga, Galería la República Piso 7, Nº 918
            p <span class="icon-phone"></span> 2900620 – 75810704
            p <span class="icon-mail2"></span> #{email}
            p La Paz - Bolivia.
        .footer-rigth
            .img-logo-footer
                img(src="media/"+logo, alt="", srcset="")
    footer.copyrigth
        span by :
            a(href="https://github.com/CristhianChaucaMariaca", target="_blank", rel="noopener noreferrer")
                cite &#169; Cristhian Chauca