header.header
    .slider
        img.img-1(src="media/header/vinos.jpg", alt="", srcset="")
        .capa
    .contenido-slider
        .logo
            //- p Coffe - Restaurant
            img(src="media/"+logo, alt="ichuri-coffe-logo")
            //- p Una empresa con fin social
        +social
        .link-g
            a(href="http://") Contactanos
