section.section.color-dark
    .title-general
        i.flaticon-menu
        h2.section-title.title-2 Menu
    article.section-article 
        .contenedor-menu
            .pagina-izquierda
                .atras.lado
                    .contenedor-lista
                        .lista-uno
                            h2 Platos
                            h4 Lorem ipsum dolor sit.
                            ol
                                li Lorem ipsum dolor sit.
                                li Lorem ipsum dolor sit.
                                li Lorem ipsum dolor sit.
                                li Lorem ipsum dolor sit.
                        .lista-dos
                            h4 Lorem ipsum dolor sit. 
                            ol
                                li Lorem ipsum dolor sit.
                                li Lorem ipsum dolor sit.
                                li Lorem ipsum dolor sit.
                                li Lorem ipsum dolor sit.
                        .lista-tres
                            h4 Lorem ipsum dolor sit.
                            ol
                                li Lorem ipsum dolor sit.
                                li Lorem ipsum dolor sit.
                                li Lorem ipsum dolor sit.
                                li Lorem ipsum dolor sit.
            .pagina-central
                .contenedor-lista
                    .lista-uno
                        h2 Bebidas
                        h4 Lorem ipsum dolor sit. 
                        ol
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                    .lista-dos
                        h4 Lorem ipsum dolor sit.
                        ol
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                    .lista-tres
                        h4 Lorem ipsum dolor sit.
                        ol
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
            .pagina-derecha
                .contenedor-lista.lado-2
                    .lista-uno
                        h2 Pasteleria
                        h4 Lorem ipsum dolor sit.
                        ol
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                    .lista-dos
                        h4 Lorem ipsum dolor sit.
                        ol
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                    .lista-tres
                        h4 Lorem ipsum dolor sit.
                        ol
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit.
