section.section#nosotros
    +titulo('Nosotros')(class="flaticon-cake")
    article.section-article
        article.section-nosotros
            .texto
                h3.title-nosotros
                .description-nosotros 
                    p Las empresas ICHURI COFFEE – RESTAURANT se constituyen como empresas independientes legalmente establecidas que están inscritas en Impuestos internos y con las respectivas licencias de funcionamiento. En esencia ICHURI COFFEE-RESTAURANT es una empresa con FIN SOCIAL ya que colabora con sus utilidades a proyectos que trabajan con niños, niñas y jóvenes en situación de alto riesgo. Está dirigida por jóvenes que son afines al rubro gastronómico en las áreas de atención al cliente, cafetería, cocina, organización de eventos y administración. Algo que caracteriza a ICHURI COFFEE-RESTAURANT son sus menús muy variados con productos de calidad: desayunos, jugos naturales, pastelería, cafetería, paltos de fondos, almuerzos, comida rápida, carnes a la parrilla que son en la mayoría de los casos recetas que los mismos jóvenes crearon en distintos eventos gastronómicos. El objetivo principal es ofrecer a nuestros clientes una amplia variedad de servicios gastronómicos bajo excelentes estándares de calidad, calidez y eficiencia logrando a través de un trabajo en equipo, como una planificación y organización adecuada, que responda a cualquier reto del consumidor y la competencia.
                    .img-logo-parrafo
                        img(src="media/"+logo, alt="", srcset="")
        article.section-nosotros
            .texto
                h3.title-nosotros Visión
                p.description-nosotros Ser la mejor empresa de servicios gastronómicos con enfoque social del país, preferida por su eficiencia en el servicio, la calidez y la calidad apoyados con un personal altamente calificado.
                    img.isotipo-burbuja(src="media/"+isotipo, alt="", srcset="")
        article.section-nosotros
            .texto
                h3.title-nosotros Misión
                p.description-nosotros Ofrecer a nuestros clientes una amplia variedad de servicios gastronómicos, con excelencia en el servicio y estándares de calidad, a precios justos, en un ambiente cómodo y placentero y el mejor equipo humano.
                    img.isotipo-burbuja(src="media/"+isotipo, alt="", srcset="")
        article.section-nosotros
            .texto
                h3.title-nosotros Objetivos
                .description-nosotros
                    img.isotipo-burbuja(src="media/"+isotipo, alt="", srcset="")
                    ol
                        li Ofrecer la mejor atención a clientes de forma eficiente atenta y confiada.
                        li Darle importancia a cada uno de los clientes, de ellos depende el verdadero éxito.
                        li Elaborar los platos gastronómicos con todo detalle y cuidado, además de llenarlos de sabores y sensaciones placenteras para el paladar del cliente
                        li Manejar en la empresa normas de higiene y inocuidad alimentaria.
                        li Dar los mejores precios a los platos ante una buena calidad
                        li Tener equipado el restaurant, de forma cómoda y placentera para que los clientes se sientan muy gusto.
                        li Lograr que los empleados encuentre un espacio de capacitación y fuente laboral acorde a sus necesidades.
                    p Brindar la posibilidad de que los trabajadores puedan ser propietarios de las empresas.

