section.section#servicios   
    +titulo('Servicios')(class="flaticon-place")
    article.section-article
        .servicio-item 
            .img-servicio-item
                img(src="media/header/vinos.jpg", alt="")
            h3.title-item Lorem, ipsum dolor.
            p.parrafo-servicio-item Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa enim quaerat commodi magnam minus iusto ea dolorum necessitatibus aspernatur voluptates?
            .btn-servicio-item
                a(href="#").btn-primary Detalle servicio
        .servicio-item 
            .img-servicio-item
                img(src="media/header/vinos.jpg", alt="")
            h3.title-item Lorem, ipsum dolor.
            p.parrafo-servicio-item Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa enim quaerat commodi magnam minus iusto ea dolorum necessitatibus aspernatur voluptates?
            .btn-servicio-item
                a(href="#").btn-primary Detalle servicio
        .servicio-item 
            .img-servicio-item
                img(src="media/header/vinos.jpg", alt="")
            h3.title-item Lorem, ipsum dolor.
            p.parrafo-servicio-item Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa enim quaerat commodi magnam minus iusto ea dolorum necessitatibus aspernatur voluptates?
            .btn-servicio-item
                a(href="#").btn-primary Detalle servicio
        

