section.section#servicios   
    +titulo('Servicios')(class="flaticon-place")
    article.section-article
        each servicio in servicios
            +servicio(servicio.img,servicio.title,servicio.description,servicio.link)
        

